p {
  margin: 0; /* Removes all default spacing */
  margin-bottom: 10px; /* Adds back only what you actually want */
  
}

hr {
  height: 1px;
  border: none;
  background-color: #ccc;
}

.vmt-video-row {
  
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
  width: 100%;   /* fills parent element */
  max-width: 100%; /* optional to override previous max-width */
  box-sizing: border-box;
  cursor: pointer;
 
}



.vmt-thumbnail-wrapper {
  position: relative;
  width: 120px;
  height: 67px;
  float: left;
  margin-right: 12px;
}

.vmt-thumbnail-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.vmt-thumbnail-wrapper a {
  display: block;
  position: relative;
  z-index: 1;
}

/* Play triangle */
.vmt-thumbnail-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);

  width: 0;
  height: 0;
  border-left: 16px solid rgba(255, 255, 255, 0.9); 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

   z-index: 2;             
  pointer-events: none;    
}














.vmt-video-content {

  min-width: 0;
}

.vmt-video-title {
  text-align: left;
 margin: 0; 
  font-size: 1rem;
  
  
}


.vmt-video-description {
    white-space: pre-line;
    text-align: left;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.2em;
    max-height: 3.6em;         /* roughly 2 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    transition: max-height 0.3s ease;  /* animate max-height */  
    -webkit-line-clamp: 2;     /* limit lines in WebKit browsers */
    -webkit-box-orient: vertical;
}


.yt-thumbnail {
  position: relative;
  width: 60vw;
  max-width: 800px; /* optional cap */
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto; /* centers horizontally */
}

.yt-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: inherit;
}

/* Play button overlay */
.yt-thumbnail::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);

  width: 0;
  height: 0;
  border-left: 32px solid rgba(255, 255, 255, 0.9); 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

   z-index: 2;             
  pointer-events: none;    
}
